/* RESET STYLES BEYOND NORMALIZE */
button {
    background: none;
    border: 0;
    color: inherit;        /* cursor: default; */
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    -webkit-appearance: button; /* for input */
    -webkit-user-select: none; /* for button */
    -moz-user-select: none;
    -ms-user-select: none;
}

input::-moz-focus-inner,
button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/*===================[ REAL STYLES: DESKTOP ]===================*/
$shadowGray: rgba(5,5,5,1);
$darkGray: rgba(20,30,40,1);
$lightGray: rgba(60,70,85,1);
$almostWhite: rgba(245,245,245,1);
$bg: rgba(60,50,50,1);

$mainColor: rgba(50,140,230,1);
$positive: rgba(20,180,80,1);
$warning: rgba(240,60,70,1);

/* GENERAL */
html{
    background-color: $bg;
}
body {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size:16px;
}
#app{
    margin: 0 auto;
    max-width:800px;
    min-height: 100%;
}
h1, h2, h3, h4{
    font-family: 'Josefin Sans', 'Arial', sans-serif;
    font-weight: 300;
    color:rgba(255,255,255,1);
}
h1{
    font-size:3.5rem;
}

button:not(.actionButton) {
    border-radius:40px;
    padding: 10px 25px;
    margin:5px;
    transition: 200ms all;
    background-color: $mainColor;
    color:rgba(255,255,255,1);

    &:hover {
        color: $mainColor;
        background-color:$almostWhite;
    }
}

main{
    padding:20px;
    background-color:$bg;
}


/* LOGIN VIEW */
main.login{

    input{
        background-color: rgba(250,250,250,1);
        color:rgba(40,40,40,1);
        border: none;
        padding:10px 15px;
        display: block;
        margin:10px auto;
        border-radius:20px;
        min-width:60%;
    }
    h1{
        margin:5rem 0 .5rem 0;
        font-size:4rem;
        font-weight: 300;
        text-align: center;
        color:#fff;
    }
    h3{
        margin:0 0 3rem 0;
        font-weight: 300;
        text-align: center;
        color:#fff;
    }
    .buttonGroup{
        text-align: center;
        margin: 0 auto;

        .register{
            background-color: $positive;

            &:hover{
                color:$positive;
                background-color:$almostWhite;
            };
        }
    }
    .owner{
        position: absolute;
        bottom:20px;
        padding: 0;
        margin: 0;
        left:20px;
        font-size:0.9rem;
        color:$almostWhite;
    }
}

.header{
    z-index: -1;
    position: relative;
    background: url('./header.jpg');
    height:200px;
    padding:20px;

    h1{
        position: absolute;
        margin:0;
        bottom: 10px;
        text-shadow: 1px 1px 3px $shadowGray;
    }
}

/* TASK BAR */
.bar {
    background-color:$darkGray;
    height: 50px;
    width: 100%;
    position: fixed;
    left: auto;
    right:auto;
    top: 0;
    box-shadow: 0 1px 3px $shadowGray;
    max-width:800px;

    *{
        display: inline-block;
        margin:0 20px;
    }

    .logo {
        color:rgba(255,255,255,1);
        margin:15px 0;
    }
    button{
        float:right;
    }
    p{
        color:$almostWhite;
        margin:15px 10px 15px 0;
        float:right;
    }
}

/* HOME VIEW  */
.characterList{
    list-style:none;
    padding:0;

    .card{
        a{
            text-decoration: none;
            background-color:$lightGray;
            box-shadow: 1px 1px 2px $shadowGray;
            padding:20px;
            display: block;
            margin:8px 0;
            transition:200ms all;

            h3{
                font-family:'Roboto', 'Arial', sans-serif;
                margin:0;
                color:$mainColor;
            }

            p{
                margin:0;
                color:$almostWhite;
                font-size:.9rem;
            }

            &:hover{
                background-color:$almostWhite;
            }
        }
    }
    .emptyListMessage{
        margin-top:5rem;
        color:rgba(215,215,215,1);
        font-size: 1.3rem;
        text-align: center;
        font-family: 'Josefin sans', 'Arial',sans-serif;
    }
}

.actionButton {
    border-radius: 35px;
    width: 70px;
    height: 70px;
    background-color: $mainColor;
    box-shadow: 1px 1px 3px $shadowGray;
    position: fixed;
    bottom:30px;
    right:30px;

    p {
        font-size: 2rem;
        color: #fff;
        padding: 0;
        margin: 0;
    }
}

/* CHARACTER VIEW */
.character{

    .deleteButton{
        background-color: $warning;

        &:hover{
            color:$warning;
            background-color: $almostWhite;
        }
    }
}
