/* RESET STYLES BEYOND NORMALIZE */
button {
    background: none;
    border: 0;
    color: inherit;        /* cursor: default; */
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    -webkit-appearance: button; /* for input */
    -webkit-user-select: none; /* for button */
    -moz-user-select: none;
    -ms-user-select: none;
}

input::-moz-focus-inner,
button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/*===================[ REAL STYLES: DESKTOP ]===================*/
$orange: rgba(240, 140, 20, 1);
$blue: rgba(0, 120, 200, 1);
$shadowGray: rgba(50,50,50,1);
$darkGray: rgba(255,255,255,1);
$bg: rgba(230,230,230,1);

body {
    font-family: 'Lato', 'Arial', sans-serif;
    background-color: $bg;
}

.header{
    z-index: -1;
    position: relative;
    background: url('./header.jpg') center bottom;
    height:200px;
    margin-left:250px;
    padding:20px;

    h1{
        position: absolute;
        margin:0;
        bottom: 20px;
        font-size:3rem;
        text-shadow: 1px 1px 3px #000;
    }
}

main {
    margin: 0 50px 0 300px;
}

.bar {
    background-color:$blue;
    height: 50px;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    box-shadow: 1px 0 3px $shadowGray;

    *{
        display: inline-block;
        margin:0 20px;
    }

    .logo {
        background-color: #fff;
    }
}

.characterList{
    list-style:none;
    padding:0;

    li{
        a{
            text-decoration: none;
            color:$blue;
            background-color:#fff;
            box-shadow: 1px 1px 2px $shadowGray;
            padding:20px;
            display: block;
            margin:5px 0;
            transition:200ms all;

            &:hover{
                background-color:$blue;
                color:#fff;
            }
        }
    }
}

.actionButton {
        border-radius: 35px;
        width: 70px;
        height: 70px;
        background-color: $blue;
        box-shadow: 1px 1px 3px $shadowGray;
        position: absolute;
        bottom:50px;
        right:50px;

        p {
            font-size: 2rem;
            color: #fff;
            padding: 0;
            margin: 0;
        }
    }
.number{
    width:100%;
}
button:not(.actionButton) {
    border: 2px solid $shadowGray;
    padding: 10px 20px;
    margin:3px 0;
    transition: 300ms all;

    &:hover {
        background-color: $shadowGray;
        color: #fff;
    }
}

h1 {
    color: #fff;
}

/*===================[ REAL STYLES: RESPONSIVE ]===================*/
@media screen and (max-width:768px) {
    .actionButton {
        position: fixed;
        bottom: 30px;
        right: 30px;
    }
    .header{
        margin-left:0;
    }
    main{
        padding:20px;
        margin:0;
    }

}
